.center {
  text-align: center; }

.titlebar {
  color: white; }

.squish {
  margin-top: 5px;
  margin-bottom: 5px; }

.bottombtn {
  text-align: center;
  font-weight: 900;
  color: white;
  vertical-align: middle;
  font-size: 30px; }

.colornavy {
  background-color: #0b5394ff; }

.colorred {
  background-color: #b3425cff; }

.colorgrey {
  background-color: #6c93b8ff; }

.colorblack {
  background-color: #1d131fff; }

.md-input-has-value.numberInput > input {
  font-size: 50px;
  height: 50px;
  text-align: center; }

.md-input-has-value.textInput > textarea {
  font-size: 30px;
  height: 30px; }

.human-body {
  position: relative;
  display: block; }

.selected path {
  fill: #b3425cff; }

.selected polygon {
  fill: #b3425cff; }

.human-body svg {
  position: absolute;
  left: 0%;
  fill: #0b5394ff; }
