.center {
  text-align: center; }

.titlebar {
  color: white;
  height: 50px; }

html, body {
  height: 100%; }

questions-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

body-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

intro-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

outro-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.full {
  width: 100%; }

.shell {
  height: 100%; }

.squish {
  margin-top: 10px;
  margin-bottom: 10px; }

.navbtn-container {
  min-height: 80px; }

.navbtn {
  text-align: center;
  font-weight: 900;
  color: white;
  font-size: 30px;
  min-height: 80px; }
  .navbtn.top {
    top: 80px;
    width: 100%; }
  .navbtn.bottom {
    bottom: 0px;
    width: 100%; }
    .navbtn.bottom.left {
      left: 0px;
      width: 50%; }
    .navbtn.bottom.right {
      right: 0px;
      width: 50%; }

.o {
  background-color: orange; }

.g {
  background-color: green; }

.gg {
  background-color: grey; }

.y {
  background-color: yellow; }

.b {
  background-color: blue; }

.bodybtn {
  text-align: center;
  font-weight: 900;
  color: white;
  vertical-align: middle;
  font-size: 30px;
  height: 80px; }

.colornavy {
  background-color: #0b5394ff; }

.colorred {
  background-color: #b3425cff; }

.colorgrey {
  background-color: #6c93b8ff; }

.colorblack {
  background-color: #1d131fff; }

.md-input-has-value.numberInput > input {
  font-size: 50px;
  min-height: 70px;
  text-align: center; }

.md-input-has-value.textInput > textarea {
  font-size: 30px;
  height: 30px; }

.human-body {
  position: relative;
  display: block; }

.selected path {
  fill: #b3425cff; }

.selected polygon {
  fill: #b3425cff; }

.human-body svg {
  position: absolute;
  left: 0%;
  fill: #0b5394ff; }
