<div layout="column" layout-fill>
    <div flex layout-padding layout="column">
        <h2 flex class="md-display-1">Create a survey</h2>
        <md-input-container flex>
            <label>Recipient first name</label>
            <input type="text" ng-model="vm.data.firstName">
        </md-input-container>
        <md-input-container flex>
            <label>Recipient email</label>
            <input type="email" ng-pattern="/^.+@.+\..+$/" ng-model="vm.data.email">
        </md-input-container>
        <md-input-container flex>
            <label>EIS ID</label>
            <input type="text" ng-model="vm.data.eisId">
        </md-input-container>
        <div layout="row">
            <h4 class='md-subhead'>Date of NBL dive</h4>
            <md-input-container>
                <md-datepicker ng-model="vm.nblDate" md-placeholder="Enter date"></md-datepicker>
            </md-input-container>
        </div>
        <div layout="row" layout-align="space-between">
            <h4 class='md-subhead'>Time dive completed</h4>
            <md-input-container>
                <label>(hh:mm)</label>
                <input type="text" ng-model="vm.nblTime">
            </md-input-container>
            <md-input-container>
                <label>Survey send delay (default 48hrs)</label>
                <input type="text" ng-model="vm.data.surveySendDelay">
            </md-input-container>
        </div>
    </div>

    <!-- Bottom buttons -->

    <!--  Text/number/multiselect button -->
    <div flex="15" layout="row">
        <div flex class="colorred bottombtn" layout="column" layout-align="center center" ng-click="vm.submit()">
            SUBMIT
        </div>
    </div>
</div>